<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.hello-world"
        version   = "1.0.0">

    <name>Smart Health App</name>

    <description>
        Aplicación para estar al día de todo lo relacionado con innovación.
    </description>

    <author href="http://shealth.eu" email="ma.armengol@shelaht.tu">
        Smart Health Lab
    </author>

<icon src="icon.png" />

<!-- iOS 7.0+  -->

<!-- iPhone / iPod Touch  -->
<icon src="icon-60.png" gap:platform="ios" width="60" height="60" />
<icon src="icon-60@2x.png" gap:platform="ios" width="120" height="120" />

<!-- iPad -->
<icon src="icon-76.png" gap:platform="ios" width="76" height="76" />
<icon src="icon-76@2x.png" gap:platform="ios" width="152" height="152" />

<!-- Settings Icon -->
<icon src="icon-small.png" gap:platform="ios" width="29" height="29" />
<icon src="icon-small@2x.png" gap:platform="ios" width="58" height="58" />

<!-- Spotlight Icon -->
<icon src="icon-40.png" gap:platform="ios" width="40" height="40" />
<icon src="icon-40@2x.png" gap:platform="ios" width="80" height="80" />


<!-- iPhone / iPod Touch -->
<icon src="icon.png" gap:platform="ios" width="57" height="57" />
<icon src="icon@2x.png" gap:platform="ios" width="114" height="114" />

<!-- iPad -->
<icon src="icon-72.png" gap:platform="ios" width="72" height="72" />
<icon src="icon-72@2x.png" gap:platform="ios" width="144" height="144" />

<!-- iPhone Spotlight and Settings Icon -->
<icon src="icon-small.png" gap:platform="ios" width="29" height="29" />
<icon src="icon-small@2x.png" gap:platform="ios" width="58" height="58" />

<!-- iPad Spotlight and Settings Icon -->
<icon src="icon-50.png" gap:platform="ios" width="50" height="50" />
<icon src="icon-50@2x.png" gap:platform="ios" width="100" height="100" />


<icon src="ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
<icon src="mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
<icon src="hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
<icon src="xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
<icon src="xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
<icon src="fr-xxhdpi.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />


<icon src="icon.png" gap:platform="winphone" />
<icon src="tileicon.png" gap:platform="winphone" gap:role="background" />


<!-- iPhone and iPod touch -->
<gap:splash src="Default.png" gap:platform="ios" width="320" height="480" />
<gap:splash src="Default@2x.png" gap:platform="ios" width="640" height="960" />

<!-- iPhone 5 / iPod Touch (5th Generation) -->
<gap:splash src="Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />

<!-- iPad -->
<gap:splash src="Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
<gap:splash src="Default-Landscape.png" gap:platform="ios" width="1024" height="768" />

<!-- Retina iPad -->
<gap:splash src="Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />
<gap:splash src="Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536" />


<gap:splash src="ldpi.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="mdpi.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="hdpi.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="xhdpi.png" gap:platform="android" gap:density="xhdpi" />
<gap:splash src="xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />


<gap:splash src="splash/winphone/splash.jpg" gap:platform="winphone" />
